@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";
* {
  box-sizing: border-box;
}
html {
  overflow: hidden;
  height: 100%;
  margin: 0;
}
html ::-webkit-scrollbar-corner {
  background: transparent;
}
html ::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  margin: 5px;
  border-radius: 10px;
  background-color: transparent;
}
html ::-webkit-scrollbar,
html *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #787e80;
  transition: all 0.5s;
}
html ::-webkit-scrollbar-thumb:hover,
html *::-webkit-scrollbar-thumb:hover {
  background-color: #7FBC88;
}
body {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#tools {
  display: flex;
  flex-direction: row;
}
#tools > .tool {
  margin-right: 10px;
  margin-bottom: 10px;
}
#tools .tool-button,
#tools .tool-button-icon {
  border: 1px solid grey;
  border-radius: 4px;
  background-color: aliceblue;
  display: inline-block;
  height: 29px;
  line-height: 27px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 4px;
  padding: 0 5px;
  text-align: center;
}
#tools .tool-button-icon {
  width: 29px;
}
#tools .tool {
  display: inline-flex;
  flex-direction: column;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
#tools .tool > div {
  display: flex;
}
#tools .tool label {
  margin-bottom: 5px;
}
#tools .tool label span {
  display: inline-block;
  padding: 1px;
}
#tools .tool label input:disabled + .tool-button,
#tools .tool label input:disabled + .tool-button-icon {
  cursor: default;
  opacity: 0.5;
  background-color: lightgrey;
  color: grey;
}
#tools .tool label input:disabled + .tool-button svg path,
#tools .tool label input:disabled + .tool-button-icon svg path {
  fill: grey;
}
#tools .tool label input:checked + .tool-button,
#tools .tool label input:checked + .tool-button-icon {
  background: #0075ff;
  color: white;
  border: none;
}
#tools .tool select {
  height: 29px;
  margin-bottom: 5px;
  margin-right: 4px;
}
#tools .tool option {
  height: 29px;
}
#tools .tool input {
  margin-right: 5px;
  height: 29px;
}
#tools .tool input[type=number] {
  width: 50px;
}
#tools .tool input[type=range] {
  margin: 0 5px;
}
#tools .tool input[type=checkbox] {
  width: 29px;
  margin: 0;
}
#tools .tool input[type=radio] {
  width: 29px;
  margin-top: 0;
}
#render-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}
#render-row > div:not(:last-child) {
  margin-right: 5px;
}
#render-row > div:not(:first-child) {
  margin-left: 5px;
}
#fiera-area {
  display: flex;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgba(219, 237, 255, 0.75);
  box-sizing: content-box;
  flex: 1;
  border: 1px solid lightgrey;
}
#fiera-area .canvas-container {
  background-color: rgb(192 228 255);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
#fiera-area .canvas-container .ruler-vertical {
  top: 0;
  position: absolute;
  right: 100%;
}
#fiera-area .canvas-container .ruler-horizontal {
  bottom: 100%;
  position: absolute;
  left: 0;
}
.export-area {
  position: relative;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 40px;
  border: 1px solid grey;
  background: #afafaf;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  flex: 1;
  overflow: auto;
}
.export-area .download-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: black;
  border: 1px solid grey;
  padding: 5px;
  background: white;
  border-radius: 5px;
}
.export-area .hide-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}
.export-area .hide-btn:before {
  background: white;
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  top: -25px;
  right: -25px;
  z-index: 0;
  transform: rotate(45deg);
  transform-origin: center center;
  border: 1px solid grey;
  content: "";
  box-sizing: border-box;
  pointer-events: all;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.export-area .hide-btn span {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  right: 0;
}
.export-area .area-label {
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 10px;
  color: white;
  font-family: Arial, sans-serif;
  opacity: 0.5;
}
.export-area svg,
.export-area canvas,
.export-area img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  background-image: linear-gradient(45deg, #80808080 25%, transparent 25%), linear-gradient(-45deg, #80808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #80808080 75%), linear-gradient(-45deg, transparent 75%, #80808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}
/*# sourceMappingURL=style.css.map */