:root {
    
    //-------- COLORS ---------
    
    --fpd-text-color: rgba(0,0,0, 0.8);
    --fpd-primary-color: #1a1a1a;
    --fpd-primary-fg-color: #fff;
    --fpd-secondary-color: #27AE60;
    --fpd-actions-bar-bg-color:#1a1a1a;
    --fpd-mainbar-nav-color: #fff;
    --fpd-border-color: rgba(0, 0, 0, 0.1);
    --fpd-canvas-bg: #f9f9f9;
    --fpd-module-secondary-color: #ecf0f1;
    --fpd-module-secondary-text-color: #7f8c8d;
    
    
    //-------- COMPS ---------
    
    //scrollbar
    --fpd-scrollbar-thumb-color: rgba(255,255,255,.75);
    --fpd-scrollbar-track-color: rgba(0,0,0,.4);
    --fpd-scrollbar-width: 6px;
    
    //buttons
    --fpd-btn-primary-color: #27AE60;
    --fpd-btn-primary-text-color: #fff;
    --fpd-btn-secondary-color: #E0E1E2;
    --fpd-btn-secondary-text-color: #fff;
    
    //dropdown
    --fpd-dropdown-height: 40px;
    
    
    //-------- LAYOUT ---------
    
    --fpd-container-min-height: 500px;

    //sidebar
    --fpd-sidebar-width: 400px;
    --fpd-sidebar-nav-width: 80px;
    
    //topbar
    --fpd-topbar-nav-height: 70px;
    
    //off-canvas
    --fpd-off-canvas-width: 280px;
    
    //actions bar
    --fpd-actions-bar-height: 50px;
        
}